SERVER_SSH_HOST=example`
SERVER_SSH_USER=example`
SERVER_SSH_PRIVATE_KEY=example`
PORT=example`
LOG_LEVEL=example`
DB_HOST=example`
DB_PORT=example`
DB_USERNAME=example`
DB_PASSWORD=example`
DB_NAME=example`